<div class="posts_index_container">
  <%= render @post %>

  <div>
    <%= link_to new_user_post_comment_path(@user.id, @post.id) do %>
      <%= button_tag 'Add new comment', type: 'button' %>
    <% end %>
  </div>
</div>