.posts_index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80vw;
}

.comments_ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  padding: 5px;
}

.like_button {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 5px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-texta {
  width: 100%;
}
